@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Varta:wght@300..700&display=swap");

:root {
  --main-color: #e6dbe86d;
  --secondary-color: #b89abc;
  --text-color: #353235;
  --hover: #b7acb6;
}
